[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=./mntFTP
Comment=Mount/Unmount FTP servers
Icon=gnome-fs-ftp
Name=mntFTP
GenericName=Mount FTP servers as Drives
